body {
    background: #687389;
}
#clear-form {
    display: none;
}
.color-label {
    width: 35px;
    height: 16px;
}

h1, h2 {
    cursor: default;
    text-shadow: 0px 3px 4px rgba(150, 150, 150, 0.5);
}
h2 {
    border-bottom: 1px dashed grey;
}